.user {
	min-width: 292px;
	padding-top: 12px;
}

.avatar {
	max-width: 280px;
	max-height: 280px;
	border: 1px solid transparent;
	border-radius: 50%;
	margin-bottom: 25px;
}

.username {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 15px;
}

.nickname {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #0064EB;
	margin-bottom: 34px;
	cursor: pointer;
}

.follow {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.followers,
.following {
	font-size: 16px;
	padding-left: 32px;
}

.followers {
	background: url('../../../assets/icons/followers.svg') 0 center no-repeat;
}

.following {
	background: url('../../../assets/icons/following.svg') 0 center no-repeat;
}

@media (max-width: 1023.98px) {
	.avatar {
		max-width: 250px;
		max-height: 250px;
	}
	.follow {
		display: block;
	}
	.followers {
		margin-bottom: 10px;
	}
	.following {
		background: url('../../../assets/icons/following.svg') -3px center no-repeat;
	}
}

@media (max-width: 767.98px) {
	.user {
		display: flex;
		justify-content: center;
		column-gap: 50px;
		align-items: center;
	}
}

@media (max-width: 600px) {
	.user {
		flex-direction: column;
		gap: 0;
	}
	.about {
		display: flex;
		align-items: flex-start;
		column-gap: 40px;
	}
	.username {
		line-height: 100%;
	}
	.nickname {
		margin-bottom: 20px;
	}
}

@media (max-width: 425px) {
	.about {
		display: block;
	}
}