.user {
	min-width: 292px;
	padding-top: 12px;
}

.avatar {
	margin-bottom: 25px;
}

.username {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 15px;
}

.nickname {
	font-size: 18px;
	font-weight: 400;
	color: #0064EB;
	margin-bottom: 34px;
}

.follow {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.followers,
.following {
	font-size: 16px;
	padding-left: 32px;
}

.followers {
	background: url('../../../assets/icons/followers.svg') 0 center no-repeat;
}

.following {
	background: url('../../../assets/icons/following.svg') 0 center no-repeat;
}