.repository {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	margin-bottom: 48px;
}

.message {
	font-size: 22px;
	color: #808080;
}

@media (max-width: 767.98px) {
	.icon {
		width: 60px;
		height: 50px;
		margin: 20px 0;
	}
	.message {
		font-size: 18px;
	}
}