* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
}

body {
	padding: 0 10px;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1366px;
	margin: 0 auto;
}