.main {
	height: 694px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
}

.icon {
	margin-bottom: 42px;
}

.message {
	max-width: 210px;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	color: #808080;
}